*{
    margin: 0%;
    padding: 0%;
}

body{
    min-height: 100vh;
}

section.wrapper{
    text-align: center;
}

canvas {
    display: none;
    float: left;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    padding: 2px;
    margin: 2%;
    margin-left: 20%;
}
div#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/*header title*/
#main-header{
    text-align: center;
}

/* game info/instructions */
.start{
    width: 60%;
    text-align: center;
    padding: 2%;
    margin-left: 18%;
}

.start.para{
    text-align: left;
}

/* start form */
form{
    padding: 5%;
}

/* for mobile */
@media only screen and (max-width: 700px){
    canvas{
        float: none;
        width: fit-content;
        height: fit-content;
        padding: 0%;
        margin: 0%;
    }
    .start{
        width: 95%;
        margin: 0%;
        padding-top: 5%;
    }
}